{% extends 'master' %}

{% block title %}Regisztrációk megtekintése{% endblock %}
{% block content %}
    <table class="table table-striped table-hover " id="tblMain">
        <thead>
            <tr>
            <th>Név</th>
            <th>Felhasználónév</th>
            <th>Email cím</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in regisztraciok %}
            <tr class="active">
                    <td> {{reg.nev}} </td>
                    <td> {{reg.felhasznalonev}} </td>
                    <td> {{reg.email}} </td>
                    <td><a href="{{ 'elfogad' | route({id: reg.id}) }}">
                            Elfogad
                        </a>
                    </td>
                    <td><a href="{{ 'elutasit' | route({id: reg.id}) }}">
                            Elutasít
                        </a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
