{% extends 'master' %}

{% block title %}Foglalásaim{% endblock %}
{% block content %}
  <table class="table table-striped table-hover " id="tblMain">
        <thead>
            <tr>
            <th>Film</th>
            <th>Időpont</th>
            <th>Terem</th>
            </tr>
        </thead>
        <tbody>
                                        
        {% for foglalas in foglalasok  %}
            {% if foglalas.user_id == currentUser.id %}
                {% for ea in eloadasok  %}
                <tr class="active">
                    {% if foglalas.ea_id == ea.id %}
                        {% for f in filmek %}
                            {% if f.id == ea.film_id %}
                                <td id="alma"> {{ f.cim }} </td>
                                <td> {{ea.ido}} </td>
                                <td> {{ea.terem}} </td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
